<!DOCTYPE html>
<html>
	<head>		
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>TrolleyTracker</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/css/style.css" />		
	</head>
	
	<body>		
		<div id="map-canvas"></div>
		<div class="infobox-wrapper">
			<div id="infobox"></div>
		</div>		
		
		<!-- scripts -->
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=geometry&sensor=false"></script>
		<script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/src/infobox.js"></script>
		<script type="text/javascript" src="/js/jquery-1.11.0.min.js"></script>
		<script type="text/javascript" src="/js/func.js"></script>				
		<script type="text/javascript" src="/js/vars.js"></script>				
		<script type="text/javascript" src="/js/trolleyTracker.js"></script>
		<script src="/socket.io/socket.io.js"></script>
	</body>	
</html>